
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<table class=" table table-bordered ">
    <tr>
        <td>Course name </td>
        <td>Projects name </td>

    </tr>
    <tr>
        <td> Java</td>
        <td>Hospital management system</td>

    </tr>
</table>
